/*CSS per visualizzare tutti gli ordini da inviare ai clienti*/
* {
    box-sizing: border-box;
  }
  
.row::after {
             content: "";
             clear: both;
             display: table;
            }

[class*="col-"] {
                 float: left;
                 padding: 15px;
                }
                
/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}   

/* For mobile phones: */
[class*="col-"] {
                 width: 100%;
                }
@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

html {
	font-size: 100%;
	width: 100%;
	height: 100%;
}
.titoloO{ 
	text-transform: uppercase;
margin-left:4.3%;
color: #5F84CE;
}
.divOrdine {
	border: 2px solid #5F84CE;
	margin-top: 1%;
	margin-left:4.3%;
	
}

.PrdodottiOrdine {
	margin-bottom:0.5%;

}

.nomeP {
	font-size: 120%;
	text-transform: uppercase;
}
.descrizioneP{font-size: 120%;
	text-transform: none;}

.imgP {
	width: 100%;
	height: 100%;
}

.quantitaP ,.PrezzoP {
	font-size: 120%;
	text-transform: uppercase;
}

.totaleO, .Data, .StatoO, .metodoSpedizione {
	font-size: 110%;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
}

.span {
	font-size: 100%;
	text-transform: none;
}

.h3 {
	text-transform: uppercase;
	font-size: 120%;
	color:#5F84CE ;
	margin-top: 1%;
	margin-left:1%;
}

.TabellaIndirizzo {
	text-align: left;
	font-size:110%;
}

.btnSpedito{
	    margin-left:40%;
	    font-size: 120%;
		color: white;
		margin-top:1%;
		background-color: #5F84CE;
}
/*Per  smartphone e tablet*/
@media screen and (max-width: 830px) {
	
	.titoloO{ 
	
margin-left:1%;
}
.divOrdine {

	margin-top: 1%;
	margin-left:0;
	
}

.PrdodottiOrdine {
	margin-bottom:0.5%;

}

.nomeP {
	font-size: 90%;
	
}


.quantitaP {
	font-size: 100%;
	text-transform: uppercase;
}

.totaleO, .Data, .StatoO, .metodoSpedizione {
	font-size: 100%;

}

.span {
	font-size: 80%;
	text-transform: none;
}

.h3 {

	font-size: 100%;
	margin-left:0%;
}

.TabellaIndirizzo {
	
	font-size:90%;
}

.btnSpedito{
	    margin-left:40%;
	    font-size: 120%;
		color: white;
		margin-top:1%;
		background-color: #5F84CE;
}
	
}
@media screen and (max-width: 578px) {
	
	.TabellaIndirizzo {
	
	font-size:50%;
}
	
}